/* @layer components{
    .recentEventCard{
        @apply w-64 h-80 mx-auto overflow-hidden
    }

} */
.recentEventCard {
    width: 266px !important;
    height: 294px;
    overflow: hidden;
    border-radius: 5px;
}
.slick-list{
    text-align: center !important;
}