@import './style/RecentEvent.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}



.slick-prev {
    left: -25px;
    background: white ;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}